*{
    padding: 0%;
    margin: 0%;
    background-color:#210E09;
}


.header{
    width: 1302px;
    height: 51px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.header img{
width: 157.89px;
height: 40px;
top: 6px;
left: 312px;
gap: 0px;
opacity: 0px;
}

.header ul li {
    text-decoration: none;
    padding-left: 15px;
    padding-top: 15px;
    display: inline-block;
    font-family: Stolzl;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #fff;

}



.header .btn {
    width: 188px;
    height: 51px;
    padding: 15px 30px 15px 30px;
    border-radius: 5px 0px 0px 0px;
    border: 2px solid #D5621D;    
    color: #fff;
    font-weight: 400;
    font-size: 14px;

}




.body_slider{
    display: flex;
    width: 1296px;
    height: 542px;
    padding-left: 20px;
    padding-top: 20px;        
}

.body_slider .body_slider_half{
    width: 856px;
    height: 540px;
    background: url("Rectangle\ 30.png");
    border: 5px solid yellow;
}

.body_slider_half .btn_main{
    width: 154px;   
    height: 44px;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 301px;
    margin-left: 60px;

}  
.body_slider_half .slid_main{
    margin-left: 60px;
    color: #fff;
    background: none !important;
    margin-top: 30px;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
}

.body_slider_second{
    width: 416px;
    height: 542px;
    margin-left: 15px;
    margin-top: 15px;
}



.body_slider_second .plugin_url {
    width: 200px;
}

.body_slider_second .plugin_url a{
    border: 1px solid none;
    padding: 12px 10px 7px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
}

.body_slider_second .plugin_images img{
    justify-content: space-around;
}


.main_list{
    text-align: center;
    margin-top: 30px;
}

.nname_1{
    background: #fff;
    width: Fixed (244px)px;
    height: Fixed (38px)px;
    left: 189px;
    padding: 10px 20px 7px 20px;
    gap: 10px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
    

}

.lists_text{
    margin-top: 30px;
    text-align: center;
    color: #fff;
}



.lists{
    display: flex;
    width: 1076px;
    height: 612px;
    margin-top: 80px;
    margin-left: 110px;
    
}
  
.pic{
    display: flex;
    width: 486px;
    height: 111px;
    padding: 10px;
    margin: 15px;
    
}
  
.pic_img{
    width: 110px;
    height: 110px;
}
  
.pic_txt{
    width: 351px;
    height: 111px;
    margin: 10px;
}
.pic_txt ul li{
    text-decoration: none!important;
    color: #fff;
}
ul li{
    line-height: 25px;
    text-decoration: none;
}
  
ul .lists_name{
    font-family: Gotham Pro;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.05em;
    color: #fff;
}
  
.weight{
    color: #D5621D!important;
    text-decoration: none;
}
  
.sum{
    display: absolute;
    width: Hug (84px)px;
    gap: 10px;
    border-radius: 5px 0px 0px 0px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #D5621D;  
    background: none;
    color: #fff;
    height: 38px!important;
    width: 84px;
  
}



.list_slider{
    width: 1296px;
    height: 560px;
    display: flex;
    margin: 40px auto;
    text-align: center;
    font-family: Stolzl;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #fff;
}
.list_slider h3{
    font-family: Gotham Pro;
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0.05em;
    margin: 30px;
}
.list_slider_but_1{
    width: 260px;
    height: 38px;
    font-family: Gotham Pro;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.05em;
    background: #fff;
}
.list_slider img{
    width: 416px;
    height: 560px;
}
.list_slider_but_2{
    margin: 30px;
    width: 156px;
    height: 51px;
    border-radius: 5px 0px 0px 0px;
    border: 2px 0px 0px 0px;
    font-family: Stolzl;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.05em;
    background: none;
    color: white;
    border: 3px solid #D5621D;
}


.first_slider{
    width: 1296px;
    height: 560px;
    margin: 40px auto;
    text-align: center;
    font-family: Stolzl;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    display: flex;
}
.first_slider_item h3{
    font-family: Gotham Pro;
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0.05em;
    margin: 30px;
    color: #fff;
}
.first_slider_item p{
    color: #fff;
}

.first_slider_item_1{
    width: Fixed (244px)px;
    height: Fixed (38px)px;
    left: 189px;
    padding: 10px 20px 7px 20px;
    gap: 10px;
    border-radius: 5px 0px 0px 0px;
    background: #fff;
}
.first_slider_item img{
    width: 416px;
    height: 560px;
}
.first_slider_item_2{
    margin: 30px;
    width: 156px;
    height: 51px;
    border-radius: 5px 0px 0px 0px;
    border: 2px 0px 0px 0px;
    font-family: Stolzl;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.05em;
    background: none;
    color: #fff;
    border: 3px solid #D5621D;
}



.nname .nname_2{
    margin-top: 30px;
    text-align: center;
    color: #fff;
}
.nname .nname_2 button{
    background: #fff;
    width: Fixed (244px)px;
    height: Fixed (38px)px;
    left: 189px;
    padding: 10px 20px 7px 20px;
    gap: 10px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
    
} 
.nname_2 h1{
    margin: 20px auto;
}

.box{
    display: flex;
    margin: auto;
    width: 1296px;
    height: 656px;
}


.rectangle{
    width: 416px;
    height: 656px;
    border-radius: 5px;
    border: 2px solid #D5621D;
    text-align: left;
    margin: 12px;
    color: #fff;
    padding: 50px;

}   
.rectangle *{
    margin: 17px;
}
.loc{
    margin: 12px;
}

